

<div class="right_side">
    <p>Овде можете подесити основне информације о предмету. </p>

    <div class="login">
        <form name="o-predmetu-edit">
            <table>
                <tr>
                    <td>
                        Наслов:
                    </td>
                    <td>
                        <input class="oble_ivice_register" type="text" required="true" name = "naslov" [(ngModel)]='naslov'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Предмети:
                    </td>
                    <td>
                        <span *ngFor = "let predmet of mojiPredmeti; let i = index;">
                            <label><input type="checkbox" (click)='regulisi(i)' checked='{{x}}' [(ngModel)]='x'>{{x}}{{predmet.naziv}}</label> &nbsp;
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Текст вести:
                    </td>
                    <td>
                        <textarea class="uslov_i_cilj" required="true" name="vest" [(ngModel)]='tekst'></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Датум:
                    </td>
                    <td>
                        <input type="date" value="2018-07-22" class="oble_ivice_register" required="true" name="date" [(ngModel)]='datum'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Фајл:
                    </td>
                    <td>
                        <span *ngFor = 'let fajl of filename'>{{fajl}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                       <button class = "submit_btn" (click)='updateVest()'>Сачувај измене</button>
                    </td>
                    <td>

                    </td>

                </tr>
                <tr>
                    <td>
                        <a (click)='idiPrev()' class="nextArrow roundArrow">&#8249;</a>
                    </td>
                    <td>
                        <a (click)='idiNext()' class="nextArrow roundArrow">&#8250;</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>