<div class="right_side">
    <div class="page_title border_dashed">
        <a (click)='preusmeri("../sva-obavestenja")' style="color:black;">{{ 'obavestenja.obavestenja' | translate }}</a>
    </div>
    <a class="page_subtitle2" (click)='preusmeri("../studentska-takmicenja")'>> {{ 'obavestenja.studentskaTakmicenja' | translate }}</a>
    <br>
    <a class="page_subtitle2" (click)='preusmeri("../konferencije")'>> {{ 'obavestenja.konferencije' | translate }}</a>
    <br>
    <a class="page_subtitle2" (click)='preusmeri("../praksa")'>> {{ 'obavestenja.praksa' | translate }}</a>
    <br>
    <a class="page_subtitle2" (click)='preusmeri("../posao")'>> {{ 'obavestenja.posao' | translate }}</a>
</div>