<div class="right_side">
    <p>Овде можете подесити информације о вашем профилу. </p>

    <div class="login">
        <form name="o-predmetu-edit">
            <table>
                <tr>
                    <td>
                        Корисничко име:
                    </td>
                    <td>
                        <input class="oble_ivice_register" type="text" required="true" name = "username" [(ngModel)]='user.username'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Име:
                    </td>
                    <td>
                        <input class = "oble_ivice_register" type="text" required="true" name="name" [(ngModel)]='user.name'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Презиме:
                    </td>
                    <td>
                        <input class = "oble_ivice_register" type="text" required="true" name="surname" [(ngModel)]='user.surname'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Мејл адреса:
                    </td>
                    <td>
                        <input class = "oble_ivice_register" type="text" required="true" name="mail" [(ngModel)]='user.mail'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Број телефона:
                    </td>
                    <td>
                        <input class = "oble_ivice_register" type="text" required="true" name="number" [(ngModel)]='user.number'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Вебсајт:
                    </td>
                    <td>
                        <input class = "oble_ivice_register" type="text" required="true" name="website" [(ngModel)]='user.website'>
                    </td>
                </tr>
                <tr>
                    <td>
                        Био:
                    </td>
                    <td>
                        <textarea class="uslov_i_cilj" required="true" name="bio" [(ngModel)]='user.bio'></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Број кабинета:
                    </td>
                    <td>
                        <input class = "oble_ivice_register" type="text" required="true" name="classnum" [(ngModel)]='user.classnum'>
                    </td>
                </tr>
                <tr>
                    <td>
                       <button class = "submit_btn" (click)="updateDB()">Сачувај измене</button>
                    </td>
                    <td style="text-align:center" *ngIf="updated">
                        <span style="font-size:0.8em; color:green">Измене успешно сачуване.</span>
                    </td> 
                </tr>
            </table>
        </form>
    </div>
</div>