<div class="right_side">
    <div class="page_title border_dashed">
        <a style="color:black;">{{ 'istrazivanja.istrazivanja' | translate }}</a>
    </div>
    <a class="page_subtitle2" href = "https:://www.istrazivanja1.com">> Истраживања 1</a>
    <br>
    <a class="page_subtitle2" href = "https:://www.istrazivanja2.com">> Истраживања 2</a>
    <br>
    <a class="page_subtitle2" href = "https:://www.istrazivanja3.com">> Истраживања 3</a>
    <br>
    <a class="page_subtitle2" href = "https:://www.istrazivanja4.com">> Истраживања 4</a>
</div>