<app-top>
</app-top>


<div class="left_side">
    <div class="etf_logo" id="etf_l"></div>
    <span style="margin-left: 150px; font-size:x-large; font-style: italic;" class='imena'>{{username}}</span>
    <hr>
    <ul class="side_bar">
        <li><a (click)='odi("dashboard-admin/pocetna")'>Почетна</a></li>
        <hr>
        <li><a (click)='preusmeri("uredi-korisnike")'>Уреди кориснике</a></li>
        <hr>
        <li><a (click)='preusmeri("uredi-predmete")'>Уреди предмете</a></li>
        <hr>

        <li><a (click)='odjava()'>Одјава</a></li>
        <hr>
    </ul>
    
</div>

<router-outlet></router-outlet>