<div class="left_side">
<div class="etf_logo" id="etf_l"></div>

<hr>
<ul class="side_bar">
    <li><a>Почетна</a></li>
    <hr>
    <li><a>Запослени</a></li>
    <hr>
    <li>
        <a href="obavestenja.html">Обавештења</a>
        <ul class="sub_list">
            <li><a href="obavestenja_takmicenja.html">Позиви за студентска такмичења</a></li>
            <li><a href="obavestenja_konferencije.html">Обавештења о конференцијама</a></li>
            <li><a href="obavestenja_prakse.html">Понуде за праксу</a></li>
            <li><a href="obavestenja_posao.html">Понуде за посао</a></li>
        </ul>
    </li>
    <hr>
    <li>
        <a href="#">Основне студије</a>
        <ul class="sub_list">
            <li><a href="rti.html">Одсек за Рачунарску технику и информатику</a></li>
            <li><a href="#">Одсек за Софтверско инжењерство</a></li>
            <li><a href="#">Остали одсеци</a></li>
        </ul>
    </li>
    <hr>
    <li><a href="#">Мастер студије </a></li>
    <hr>
    <li><a href="#">Пројекти</a></li>
    <hr>
    <li>
        <a href="#">Наука</a>
        <ul class="sub_list">
            <li><a href="#">Истраживања</a></li>
            <li><a href="#">Пројекти</a></li>
        </ul>
    </li>
    <hr>
    <li><a href="#">Контакт</a></li>
    <hr>
    
</ul>

</div>